@import url('https://fonts.googleapis.com/css2? family= Ms+Madi & family= Playfair+Display:ital@1 & display=swap');
.Container{
    height: 6em;
    width: 100%;
}
.logoSalta img{
    margin-top: 5px;
    width: 11em;
    height: 5.5em;
    justify-content: flex-start;
    margin-right: 45em;
}
.boxConteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
}
.box{
    color: black;
}