#app { height: 100% }
html,
body {
  position:absolute;
  height: 20em;
}

body {
  background: #eee;
}

.swiper {
  width: 80%;
  height: 20em;
  background-color: aqua;
}

.swiper-slide {
  
  background: #fff;
  
  
}


.swiper-slide img {
  display: block;
  object-fit: cover;
}
